<div class="container">
    <h1 class="page-title">Create New Test</h1>
    <form>
      <div class="form-group">
        <label for="name">Test Name </label>
        <input type="text" name="name" id="name" ng-model="name"/>
      </div>
      <div style="display: none" id="nameError">
        <p>Invalid test name! Try again.</p>
      </div>
      <div class="form-group">
        <label for="exploit">Exploits</label>
        <select id="exploit" name="exploit" ng-model="exploit" ng-options="x as x.name for x in exploits" ng-change="exploitChange()"></select>
      </div>
      <div class="form-group">
        <label for="attacker_ip">Attacker Node</label>
        <select id="attacker_ip" name="attacker_ip" ng-model="attacker_ip" ng-options="x as x.name for x in Nodes | filter: {type:'attacker'}"></select>
      </div>
      <div class="form-group">
        <label for="defender_os">Defender OS</label>
        <select id="defender_os" name="defender_os" ng-model="defender_os" ng-options="x as x for x in filteredOS" ng-change="OSChange()"></select>
      </div>
      <div class="form-group">
        <label for="finalDef">Patch</label>
        <select id="finalDef" name="finalDef" ng-model="finalDef" ng-options="x as x.patch for x in filteredPatch"></select>
      </div>
      <div style="display: none" id="submitSuccess">
        <p>Test submitted!</p>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="submitChange()">Submit</button>
    </form>
</div>