<dl class="container">
  <div class="row">
    <div class="col-sm-12 text-center"><h2><u>Details</u></h2></div>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Node ID:</dt>
    <dd class="col-sm-6 text-left">{{node._id}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Name:</dt>
    <dd class="col-sm-6 text-left">{{node.name}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">IP:</dt>
    <dd class="col-sm-6 text-left">{{node.ip}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">OS:</dt>
    <dd class="col-sm-6 text-left">{{node.os}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Patch:</dt>
    <dd class="col-sm-6 text-left">{{node.patch}}</dd>
  </div>
</dl>