<div class="container">
  <div class="jumbotron">
    <h1>Frontend Testing</h1>
  </div>
  <h2>Nodes List Group</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <button type="button" class="btn btn-secondary" ng-click="sortBy('name')" >
            Name
          </button>
          <span><i class="fa fa-sort-alpha-desc" ng-show="propertyName === 'name' && reverse === true" aria-hidden="true"></i></span>
          <span><i class="fa fa-sort-alpha-asc" ng-show="propertyName === 'name' && reverse === false" aria-hidden="true"></i></span>
        </th>
        <th>
          <button type="button" class="btn btn-secondary" ng-click="sortBy('ip')" >
            IP
          </button>
          <span><i class="fa fa-sort-numeric-desc" ng-show="propertyName === 'ip' && reverse === true" aria-hidden="true"></i></span>
          <span><i class="fa fa-sort-numeric-asc" ng-show="propertyName === 'ip' && reverse === false" aria-hidden="true"></i></span>
        </th>
        <th>
          <button type="button" class="btn btn-secondary" ng-click="sortBy('os')" >
            OS
          </button>
          <span><i class="fa fa-sort-alpha-desc" ng-show="propertyName === 'os' && reverse === true" aria-hidden="true"></i></span>
          <span><i class="fa fa-sort-alpha-asc" ng-show="propertyName === 'os' && reverse === false" aria-hidden="true"></i></span>
        </th>
        <th>
          <button type="button" class="btn btn-secondary"  ng-click="sortBy('patch')" >
            Patch
          </button>
          <span><i class="fa fa-sort-numeric-desc" ng-show="propertyName === 'patch' && reverse === true" aria-hidden="true"></i></span>
          <span><i class="fa fa-sort-numeric-asc" ng-show="propertyName === 'patch' && reverse === false" aria-hidden="true"></i></span>
        </th>
      </tr>
    </thead>
    <tbody ng-repeat="n in nodes | orderBy:propertyName:reverse" ng-click="load(n)">
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>{{ n.name }}</td>
        <td>{{ n.ip }}</td>
        <td>{{ n.os }}</td>
        <td>{{ n.patch }}</td>
      </tr>
    </tbody>
  </table>


  <!-- <div class="list-group" ng-repeat="n in nodes">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">{{ n.name }}</h4>
      </div>
      <p class="mb-1">IP: {{ n.ip }}</p> 
      <p class="mb-1">OS: {{ n.os }}</p> 
      <p class="mb-1">Patch: {{ n.patch }}</p> 
    </a>
  </div> -->
</div> 