<div class="container">
  <div class="jumbotron">
    <h1>Frontend Testing</h1>
  </div>
  <h2>Tests List Group</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <button type="button" class="btn btn-secondary" ng-click="sortBy('name')">
              Name
            </button>
            <span><i class="fa fa-sort-alpha-desc" ng-show="propertyName === 'name' && reverse === true" aria-hidden="true"></i></span>
            <span><i class="fa fa-sort-alpha-asc" ng-show="propertyName === 'name' && reverse === false" aria-hidden="true"></i></span>
          </th>
          <th>
            <button type="button" class="btn btn-secondary" ng-click="sortBy('defender_ip')" align="center">
              Defender IP
            </button>
            <span><i class="fa fa-sort-numeric-desc" ng-show="propertyName === 'defender_ip' && reverse === true" aria-hidden="true"></i></span>
            <span><i class="fa fa-sort-numeric-asc" ng-show="propertyName === 'defender_ip' && reverse === false" aria-hidden="true"></i></span>
          </th>
          <th>
            <button type="button" class="btn btn-secondary" ng-click="sortBy('attacker_ip')" align="center">
              Attacker IP
            </button>
            <span><i class="fa fa-sort-numeric-desc" ng-show="propertyName === 'attacker_ip' && reverse === true" aria-hidden="true"></i></span>
            <span><i class="fa fa-sort-numeric-asc" ng-show="propertyName === 'attacker_ip' && reverse === false" aria-hidden="true"></i></span>
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="t in tests | orderBy:propertyName:reverse" ng-click="load(t)">
        <tr>
          <!-- <th scope="row">1</th> -->
          <td>{{ t.name }}</td>
          <td>{{ t.defender_ip }}</td>
          <td>{{ t.attacker_ip }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>