<dl class="container">
  <div class="row">
    <div class="col-sm-12 text-center"><h2><u>Details</u></h2></div>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Test ID:</dt>
    <dd class="col-sm-6 text-left">{{test._id}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Name:</dt>
    <dd class="col-sm-6 text-left">{{test.name}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Attacker IP:</dt>
    <dd class="col-sm-6 text-left">{{test.attacker_ip}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Defender IP:</dt>
    <dd class="col-sm-6 text-left">{{test.defender_ip}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Running:</dt>
    <dd class="col-sm-6 text-left">{{test.running}}</dd>
  </div>
  <div class="row">
    <dt class="col-sm-6 text-right">Exploit ID:</dt>
    <dd class="col-sm-6 text-left">{{test.exploit_id}}</dd>
  </div>
</dl>